// 1. 標準ヘッダーの読み込み
// 外部の winres.h を探すのではなく、windows.h を直接インクルードします
#include <windows.h>

#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// 日本語 (日本) resources
#pragma code_page(932)

// LANGUAGE 指定。マクロではなく直接数値で指定することでエラーを回避します
// 0x11 = 日本語 / 0x1 = Default
LANGUAGE 0x11, 0x1

/////////////////////////////////////////////////////////////////////////////
//
// VERSIONINFO
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,0,0
 PRODUCTVERSION 2,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "Line-16"
            VALUE "FileDescription", "日付表示・空調制御プラグイン"
            VALUE "FileVersion", "2.0.0.0"
            VALUE "InternalName", "Ats.dll"
            VALUE "LegalCopyright", "Copyright (C) 2026 Line-16"
            VALUE "OriginalFilename", "date.dll"
            VALUE "ProductName", "日付表示・空調制御プラグイン"
            VALUE "ProductVersion", "2.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "winres.h\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

